/*
#6943FF - purple
#B295FF - light purple
#F4F4F4 - whhite smoke
#5A537B - grayish purple
#353535 - dark grey


#273549 - div back

*/
* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: white;
}

.dark_theme {
  background: #1C1C1C;
}

#container {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 729px;
  margin-inline: auto;
  min-width: 550px;
}

#top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex:0 0 285px;
  background: #6943FF;
  text-align: center;
  color: white;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
  flex-wrap: wrap;
  gap: 23px;
  width: 100%;
  height: 444px;
  background: #e6e5e5;
  text-align: center;
}

.dark_theme #bottom-section {
  background: #1F2937;
}
;
#title {
  font-size: 28px;
  color: #FFFFFF;
  margin: 33px 0 40px 0;
}

.input-section {
  background: #6943FF;
  color: white;
  width: 117px;
  min-width: 117px;
  max-width: 400px;
  height: 83px;
  border: 2px solid #B295FF;
  border-radius: 5px;
  text-align: center;
  font-size: 58px;
  font-weight: 800;
  transition: width 0.5s ease;


  &:focus {
    outline: none;
  }
}

#convert-btn {
  margin: 27px 0 34px 0;
  padding: 9px 28px;
  background: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#convert-btn:hover {
  cursor: pointer;
  box-shadow: 0px 1px 8px rgb(45, 9, 104);
}

.unit-container {
  width: 500px;
  flex: 0 0 109px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}

.dark_theme .unit-container {
  background: #273549;
}

.unit-title {
  color: #5A537B;
  font-size: 20px;
  font-weight: 600;
  margin: 31px 0 9px 0;
}

.dark_theme .unit-title {
  color: #CCC1FF;
}

.unit-calculation {
  color: #353535;
  font-size: 14px;
  margin: 0;
}

.dark_theme .unit-calculation {
  color: #FFF;
}

.mode-switch {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #6943FF;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
}

.mode-switch:hover {
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
}

